<section class="products-index">

  <header class="page-header">
    <h1>Products</h1>
  </header>

  <div class="products">
    <%= render @products %>
    <!-- @products: refering to productController
  where its @products contain product data from DB thanks
to Product model, once data obtained, render function is called,
which searches for _Product.html -->
  </div>

</section>
